/*
________
Reset 
________
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;;
}

/*
________
debug
________
*/

/* .debug .logo, ul, .login{
    background-color: #daa520;
    border-style: dashed;

} */

/* .debug .col-purple{
    background-color: #ee82ee;
    border-style: dashed;
} */

.debug .col-blue{
    background-color: #1e90ff;
    border-style: dashed;
    
}

.debug .col-pink{
    background-color: #ffc0cb;
    border-style: dashed;
}

.debug .col-green{
    background-color: #228b22;
    border-style: dashed;
}

.debug .col-1{
    background-color: #f08080;
    border-style: dashed;
}


.debug .col-2,.col-3,.col-4,.col-5{
   background-color: #20b2aa;
   border-style: dashed;
}

footer .footer-bottom{
    background-color: #7fffd4;
    height: 80px;
}

/*
****
Common
****
*/

.container {
    margin: 0 auto;
}

.container.big {
    max-width: 1200px;
}

/*
________
header
________
*/
header{
    width: 100%;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    color: white;
}

.row-header{
    display: flex;
    justify-content:center;
    padding: 20px 0;
}

.logo{
    width: 240px;
    line-height: 30px;
    min-height: 40px;
}

.login{
  text-align: right;
  background-color: white;
  padding-right: 10px;
  padding-top: 10px;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  margin-left: 130px;
  color: black;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 720px;
    list-style: none;
    line-height: 30px;
    min-height: 40px;
    
}

.sfondo-header{
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 500px;
    width: 100%;
    text-align: center;
}

.col-purple{
    min-height: 400px;
    width: 900px;

}

h1{
    font-size: 70px;
    font-weight: 900;
    margin: 50px;
    line-height: 65px;
}

.paragrafo-header{
    font: 20px;
    font-weight: 400;
    line-height: 32px;
}

.button{
    display: inline-block;
    border-radius: 30px;
    font-size: 20px;
    height: 50px;
    width: 290px;
    line-height: 50px;
    margin-top: 40px;
 
}

.button.left{
    background-color: white;
    color: black;
    margin-right: 20px;
}

.button.right{
    background-color: black;
    color: white;
}

.sfondo-pari, .sfondo-dispari{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 600px;
    width: 100%;
}

.sfondo-dispari{
    background-color:#d3d3d3;
}

.col-blue{
    min-height: 500px;
    width: 720px;

}

.col-pink{
    min-height: 500px;
    width: 480px;

}


.sfondo-main{
    background-color:#d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
}

.col-green{
    min-height: 900px;
    width: 1200px;
}

/*
________
footer
________
*/

footer {
    background-color: #23272a;
}

footer .footer-top {
    display: flex;
    padding: 10px 0;
    height: 600px; /* height demo per align items stretch */
    margin-bottom: 20px;
}

footer .footer-top .main-column {
    flex-basis: 30%;
    background-color: #f08080;
}

footer .footer-top .menu-column {
    flex-basis: 70%;
    background-color: #20b2aa;
    display: flex;
    justify-content: space-between;
}


footer .footer-top .menu-column > .col {
    flex-basis: 25%;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
  margin-top: 20px;
}

